@font-face {
  font-family: "letra del proyecto";
  src: url(../fonts/code_bold.otf);
}

.float-right {
  float: right;
}

.float-top {
  float: top;
}

.float-center {
  float: center;
}

.float-left {
  float: left;
}

.align-left {
  text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.square {
  border-top: 20px solid #E5E5E5;
  border-bottom: 20px solid #E5E5E5;
	background-color: #FFF;
}

body { 

  background-color:  #4C54AB;
	background-color: rgba(17,20,144,0,5);

}

@keyframes animatedBackground {
  from { background-position: top left; }
  to { background-position: bottom right; }
}

body::after {
  animation: animatedBackground 45s linear infinite;
  content: "";
  background: url(../img/html5.png);
  background-size: 50px 50px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

.adjust {
  height: 62%;
  width:  62%;
}

li span {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}

h1.square {
  width: 405px;
  height: 149px;
}



h1.square {
  width: 405px;
  height: 149px;
}

li a {
  border-radius: 50%;
  width: 42px;
  height: 42px;
} 

.box-adjust {
  margin-left: 20px;
  text-align: left;
}

.fix-column {
  margin-right: -20px;
}

.nav-tabs>li>a {
  border-radius: 50%;
  border-width: 2.80px;
  color: white;
  border-color: #FFF;
}
   

li>a:focus>span {
  visibility: visible;
}

li>a:focus {
   transition: linear 0.3s;
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   color: #005097;
}

li>a:focus {
  min-height: 40px;
  border-radius: 20px;
  border: 6px double blue;
  color: #005097;
}

li>a:focus::after {
  color: #005097;
  border: 6px double solid blue;
}

li>a:hover {
   transition: linear 0.3s;
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   color: #2F5097;
   
}

label {
  font-family: "letra del proyecto"
}

label {
  color: #005ABA;
  font-size: 105%;
}

li>a:hover {
  min-height: 40px;
  border-radius: 20px;
  border: 6px double blue;
}






                               ...
            s,                .                    .s
             ss,              . ..               .ss
             'SsSs,           ..  .           .sSsS'
              sSs'sSs,        .   .        .sSs'sSs
               sSs  'sSs,      ...      .sSs'  sSs
                sS,    'sSs,         .sSs'    .Ss
                'Ss       'sSs,   .sSs'       sS'
       ...       sSs         ' .sSs'         sSs       ...
      .           sSs       .sSs' ..,       sSs       .
      . ..         sS,   .sSs'  .  'sSs,   .Ss        . ..
      ..  .        'Ss .Ss'     .     'sSs. ''        ..  .
      .   .         sSs '       .        'sSs,        .   .
       ...      .sS.'sSs        .        .. 'sSs,      ...
             .sSs'    sS,     .....     .Ss    'sSs,
          .sSs'       'Ss       .       sS'       'sSs,
       .sSs'           sSs      .      sSs           'sSs,
    .sSs'____________________________ sSs ______________'sSs,
 .sSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS'.Ss SSSSSSSSSSSSSSSSSSSSSs,
                         ...         sS'
                          sSs       sSs
                           sSs     sSs       - LCF
                            sS,   .Ss
                            'Ss   sS'
                             sSs sSs
                              sSsSs
                               sSs
                                s
 
/*altura de el cuadro de las listas de checkbox*/

 /*width:580px;
 height:469px;*/